body{
    font-family: sans-serif;
}

#heading{
    text-align: center;
}

#canvas{
    border: 2px solid black;
    
}
.canvas-container{
    display: flex;
    justify-content: center;
    position: relative;
}

#reset-button{
    position: absolute;
    bottom: -50px;
    right: 220px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    padding: 4px 14px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);;
}